body{
    background: #a3ccf5;
}

ul.flex-outer{
    max-width: 800px;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 800px;
}

.flex-outer > li > label, 
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
    font-weight: bold;
}

.flex-outer > li > label + *, 
.flex-inner {
    flex: 1 0 225px;
    font-weight: bold;
}

.flex-outer li button {
    /* margin-left: auto; */
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-inner li {
    width: 75px;
}

.flex-inner {
    justify-content: space-between;
}

.title {
    text-align: center;
    color: #bf8040;
}

.flex-outer li{
    margin-bottom: 15px;
}